body {
    font-family: Helevetica, Arial, sans-serif
}

tr.bossfi {
    background-color: red;
    color: white;
    font-size: 1.25em;
}

table {
    width: 100%;
}

/* Hey code scraper! */
/* You just got awsome goat mom'd! */
/* Share with your friends to *totally* awsome goat mom them! */

/* byemc */