
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --byecorps-blue: #1b5652;
    --byecorps-white: #e6feff;
    --black: #000;
    --white: rgb(255, 255, 255);

    --fnt-byecorps: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center {
text-align: center;
}
.bold {
font-weight: bold;
}

@media screen and (max-width: 1100px) {
    body {
        margin: 10px auto;
        padding: 0 10px;
    }
}

.fnt-byecorps {
    font-family: var(--fnt-byecorps);
}

.bc-1 {
    font-weight: bold;
}

.bc-2 {
    font-weight: normal;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;

    font-weight: 500;
    font-family: var(--fnt-byecorps);

}

.bg-byecorps-blue {
    background-color: var(--byecorps-blue);
}

.bg-byecorps-white {
    background-color: var(--byecorps-white);
}

.bg-black {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.fg-byecorps-blue {
    color: var(--byecorps-blue);
}

.fg-byecorps-white {
    color: var(--byecorps-white);
}

.fg-black {
    color: var(--black);
}

.fg-white {
    color: var(--white);
}

.small {
    font-size: 1rem;
}
