---
---

<header>
    <div class="start"><a href="/" id="sitetitle"><span class="bc-1">Bye</span><span class="bc-2">Corps</span><span class="bc-3">.com</span></a>
    <nav>
        <a href="/"><i class="fa-solid fa-house fa-fw"></i> Home</a> 
    </nav></div>

    <div class="end"><a href="https://id.byecorps.com"><i class="fa-solid fa-id-badge fa-fw"></i> ID</a></div>
</header>